h1 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    position: relative;
    margin-top: 15px;
    top: 10px;
}

input {
    border: none;
    border-bottom: solid #8f8f8f 1px;
    margin-bottom: 33px;
    background: none;
    color: #ffffff8e;
    height: 38px;
    width: 330px;
    position: relative;
    top: 8px;
    transition: border-color 1s;
}

.pswdInput {
    position: static;
    border: none;
    width: 300px;
    margin-bottom: -5px;
}

.passwordInputDiv {
    border-bottom: solid #8f8f8f 1px;
    margin-bottom: 16px;
    position: relative;
    top: 10px;
    transition: border-color 1s;
}

.subtitle {
    position: absolute;
    padding-left: 5px;
    font-size: 13px;
    color: #b1b1b14d;
}

.button {
    width: 150px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    transition: all 1s;
    margin-inline: 92px;
}

.button:enabled {
    box-shadow: 2px 2px 8px #38d39f70;
    background: #38d39f;
    color: #ffffffcc;
    cursor: pointer;
}

.button:disabled {
    background: #333333;
    color: #ffffff28;
    cursor: not-allowed;
}

.button:enabled:hover {
    color: #ffffff;
    box-shadow: none;
}

#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (orientation: landscape) {
    #container {
        flex-direction: row;
    }
}

@media only screen and (orientation: portrait) {
    #container {
        flex-direction: column;
    }
}

#pswd_div {
    margin: -28px 0 0 0;
    font-size: 15px;
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#levelTxt {
    color: #8f8f8f;
    width: 67px;
    display: flex;
    justify-content: center
}

.level{
    background-color: #8f8f8f;
    width: 18%;
    height: 5px;
    margin-block: auto;
    transition: background-color 1s;
}

.actionButton {
    background-color: transparent;
    border: none;
    position: relative;
    top: 2px;
    margin-right: -100px;
}

.buttonImage {
    width: 20px;
}

.hidePasswordImage {
    position: relative;
    top: 2px;
}

#revealEmail {
    top: 16px;
    right: 30px;
}

.Error {
    transition: max-height 0.5s ease-out;
    border-left: #ff4b4bd8 3px solid;
    background-color: #ff4b4b11;
    box-sizing: border-box;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
    color: #ff4b4b;
    max-height: 0;
    bottom: 15px;
    width: 330px;
    margin-block: -5px;
}

.main {
    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 15px;
    padding: 0 30px 0 30px;
    margin: 15px;
    height: fit-content;
    backdrop-filter: blur(1px);
}