h1 {
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    width: 330px;
    text-align: center;
}

p {
    color: #8f8f8f;
    margin: 0;
    text-align: center;
}

.main {
    background-color: rgba(31, 31, 31, 0.8);
    border-radius: 15px;
    padding: 25px 30px 25px 30px;
    backdrop-filter: blur(1px);
}

#resend {
    color: #606060;
    margin-right: 0.2em;
}

#resendLink {
    transition: all 0.2s;
    text-decoration: underline;
    cursor: pointer;
}

#resendLink:hover {
    color: #ffffff;
}

#resendOuter {
    display: flex;
    justify-content: center;
    width: 300px;
    margin-inline: 15px;
}

#resendLinkOuter {
    color: #2ca87f;
    width: 56px;
    display: flex;
    justify-content: center;
}

#loadingMini {
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    height: 18px;
    width: 18px;
}

#loadingMini::before {
    content: "";
    box-sizing: border-box;
    inset: 3px;
    border-radius: 50%;
    border: 2px solid #2ca87f;
    animation: prixClipFix 2s linear infinite;
    position: absolute;
}

@keyframes rotate {
    100% {transform: rotate(360deg)};
}

@keyframes prixClipFix {
    0% {clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)};
    25% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)};
    50% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)};
    75% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)};
    100% {clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)};
}