#revealPassword, #revealPasswordRegistration {
    background-color: transparent;
    border: none;
    position: relative;
    top: 15px;
    right: 35px;
    margin-right: -100px;
}

.revealPasswordImage {
    width: 20px;
}

#hidePasswordImage, #hidePasswordImageRegistration {
    position: relative;
    top: 2px;
}