#reveal_pswd, #reveal_pswd_reg {
    background-color: transparent;
    border: none;
    position: relative;
    top: 15px;
    right: 35px;
    margin-right: -100px;
}

.reveal_pswd_img {
    width: 20px;
}

#pswd_hide_img, #pswd_hide_img_reg {
    position: relative;
    top: 2px;
}